h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5333ed;
    font-size: 300%;
    background-color: #5333ed;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.title{
  margin-top: 15px;
  margin-bottom: 15px;
}

h2{
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #5333ed;
  font-size: 150%;
  background-color: #5333ed;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.navigation-bar{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none ;
}

a{
    text-decoration: none;
}

.container{
    margin-top: 15px;
    margin-bottom: 10px;
}

.navigazione{
  margin-top: 15px;
  margin-bottom: 10px;
}

.ricerca {
    position: relative;
    top: 3px;
}

.carrello{
    position: relative;
    top: 5px;

}

.log-in {
    position: relative;
    top: 2.7px;
}

.button {
    height: 65px;
    width: 100px;
    text-align: center;
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 2px solid #5333ed; 
    border-radius: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
  }
  
.button:hover {
    background-color: #e1eaf8; 
}

.search-button {
    position: relative;
    top: 5px;
    right: 20px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: white;
    border: 2px solid #5333ed;
    border-radius: 100%;
    box-shadow: 0 3px #999;
  }
  
  .search-button:hover {background-color: #e1eaf8;}
  
  .cart-button{
    position: relative;
    top: 10px;
    right: 50px;
    display: inline-block;
    padding: 0.5px 0.5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: white;
    border: 2px solid #5333ed;
    border-radius: 100%;
    box-shadow: 0 3px #999;
  }

  .cart-button:hover{
    background-color: #e1eaf8;
  }

  .log-in-button{
    position: relative;
    top:5px;
    right: 70px;
    display: inline-block;
    padding: 3px 3px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 2px solid #5333ed;
    border-radius: 100%;
    box-shadow: 0 3px #999;
  }

  .log-in-button:hover{
    background-color: #e1eaf8;
  }

/*Stile barra di navigazione*/


.barra-di-navigazione ul li{
    display: inline-block;
    padding: 0px 35px;
    font-size: 20px;
    position: relative;
    bottom: 30px;
    top: 15px;
    left: 14%;
}

p{
  position: relative;
  right: 50px;
}

  .log-out-button {
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
  }

  .cart-button{
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
  }

  .search-button{
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
  }

  .log-in-button{
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
  }

  .admin{
    position: relative;
    left: 45px;
    top: 180px;
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:red;
    position: relative;
    display: inline-block;
    padding: 3px 3px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: 2px solid red;
    border-radius: 10%;
    box-shadow: 0 3px #999;
    width: 100px;
    height: 50px;
    font-size: 80%;
  }

  .admin:hover{
  background-color: red;
  color: #fff;
  }



.pannelli{
  position: relative;
  right: 100px;
}