<header>
    <div *ngIf="auth.isauthenticated() && auth.isAdmin()">
        <button (click)="mostra_admin()" class="admin">
            Admin-Page
        </button>
    </div>
    <h1 class="title"> Store Calcio </h1>

    <!--Barra di navigazione-->
    <nav>
        <div class="container">
            <div class="navigazione">
                <div class="barra-di-navigazione">
                    <div *ngIf="auth.isauthenticated()">
                        <h2>Benvenuto {{auth.getNome()}} {{auth.getCognome()}}</h2>
                    </div>
                    <ul class="fill">
                        <li class="circle">
                            <button *ngIf="!auth.isauthenticated()" class="log-in-button" (click)="login()">
                                <img class="log-in" src="/assets/immagini/login.png" alt="Log-in" width="30px"
                                    height="30px">
                                    Login
                            </button>
                        </li>
                        <li>
                            <button class="button" (click)="mostra_prodotti()">Negozio</button>
                        </li>
                        <li class="circle">
                            <button class="search-button" (click)="mostra_barraRicerca()">
                                <img class="ricerca" src="/assets/immagini/lente.jpg" alt="Ricerca" width="30px"
                                    height="30px">
                            </button>
                        </li>
                        <li class="circle">
                            <button class="cart-button" (click)="mostra_carrello()">
                                <img class="carrello" src="/assets/immagini/carrello.jpeg" width="40px"
                                    height="40px">
                            </button>
                        </li>
                        <li *ngIf="auth.isauthenticated()">
                            <button class="button" (click)="mostra_profilo()">Profilo</button>
                        </li>
                        <li *ngIf="auth.isauthenticated()">
                            <button class="button" (click)="logout()">
                                Log-Out
                            </button>
                        </li>
                        <li>
                            <button class="button" (click)="mostra_support()">Support</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="container-fluid">
        <div class="riga">
            <div class="colonna">
                <app-barra-ricerca *ngIf="barraRicerca_visibile"></app-barra-ricerca>
                <app-negozio-prodotti *ngIf="negozio_visibile"></app-negozio-prodotti>
                <app-carrello *ngIf="carrello_visibile"></app-carrello>
                <app-admin-page *ngIf="admin_visibile" ></app-admin-page>
                <app-support *ngIf="support_visibile"></app-support>
                <app-profilo *ngIf="profilo_visibile"></app-profilo>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
