<h1 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #5333ed; margin-top: 25px;"> Carrello di {{auth.getInfoAboutUser().name}} </h1>
<ul *ngFor="let i of prodotti" list-style-type="none">
    <li>
        <div id="container">
            <div class="product-details">

                <h1 >{{i.prodotto.nome}}</h1>
                
                <div class="control">
                    <br>
                    <div class="plus-min">
                        <p clas="num"><b>Quantità selezionata: {{i.qnt}}</b></p>
                        <button class="minus" (click)="diminuisci(prodotti.indexOf(i))">
                            -
                        </button>
                        <br>
                        <br>
                        <button  class="elimina" (click)="elimina(prodotti.indexOf(i))" style="font-size: 15px;">Elimina</button>
                    </div>
                </div>

            </div>

            <div class="product-image">

                <img src="/assets/immagini/{{i.prodotto.immagine}}">

                <div class="info">
                    <h2> Descrizione</h2>
                    <ul>
                        <li><strong>Squadra: </strong>{{i.prodotto.squadra}} </li>
                        <li><strong>Quantità:</strong>{{i.qnt}} </li>
                        <li><strong>Tipologia: </strong>{{i.prodotto.tipologia}}</li>
                    </ul>
                </div>
            </div>

        </div>




    </li>
</ul>

<div class="riepilogo">
    <h1 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5333ed; font-size: 50px;">
        Riepilogo Carrello!
    </h1>
    <p style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5333ed; font-size: 30px;"  >Prezzo totale: <b style="color: black; position: relative; left:20px;">{{calcolaPrezzo()}}€</b></p>
    <h1 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5333ed; font-size: 30px;">Indicare indirizzo di spedizione</h1>
    <form name="form" (ngSubmit)="f.form.valid && acquista()" #f="ngForm" novalidate>
        <div class="riepilogo2">
        <mat-form-field style="width: 200px;">
            <mat-select name="spedizione" [(ngModel)]="form.spedizione" required #spedizione="ngModel">
                <mat-option *ngFor="let c of list" value="{{c.id}}"> {{c.citta}}, {{c.via}} {{c.numeroCivico}}, {{c.cap}} </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="compra" style="font-size: 30px;">Acquista!</button>
        </div>
    </form>
    <br>
    <br>
    <button (click)="storico()" class="storico_btn" style="font-size: 30px;">Mostra storico acquisti</button>
    <br>
    <br>
   
</div>
<div class = "storico">
    <app-acquisti *ngIf="storicoAcquisti"></app-acquisti>
</div>
