*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: rgb(142, 208, 210);
}

.container_1{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 255px;
}


.container_2{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 500px;

    bottom: 150px;
    position: relative;
}

.search_box{
    background: #e1eaf8;
    position: relative;
    right: 500px;
    bottom: 300px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    opacity: 1;
    
}

.search_box_squadra{
    background: #e1eaf8;
    right: 500px;
    bottom: 300px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    opacity: 1;
    
}

.search_box .search_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e1eaf8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    font-size: 12px;
}


.search_box_squadra .search_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e1eaf8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    font-size: 12px;
}

.search_box .input_search{
    outline: none;
    border: 0;
    background: #e1eaf8;
    color: black;
    padding: 15px 20px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
}

.search_box_squadra .input_search{
    outline: none;
    border: 0;
    background: #e1eaf8;
    color: black;
    padding: 15px 20px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
}

::placeholder{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
   
}

::-webkit-input-placeholder{
    color: black;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search_box .search_button:hover{
    background-color: #e1eaf8;
}


.Squadra{
    position: relative;
    bottom: 1069px;
    width: 500px;
    left: 500px;
    display: flex;
    justify-content: center;
    height: 100px;

}

.categorie{
    position: relative;
    left: 36%;
    bottom: 470px;
}
body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rad-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
    width: 300px;
    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: #e1eaf8;
    width: 300px;
}
.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;

    background: linear-gradient(to right bottom, rgb(196, 238, 239), #5333ed);
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: black;
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: #5333ed;
}

.risultato{

    height: 300px;
    position: relative;
    bottom: 500px;
}

.btn_cerca{
    position: relative;
    left: 75%;
    bottom: 630px;
    width: 100px;
    height: 50px;
    border-radius: 10px ;
    border-color: #5333ed ;
    color: black;
    background-color: white;
    border-style: solid;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.btn_cerca:hover{
    background-color: #e1eaf8;
    transition: 0.3s;
}

ul{
    list-style-type: none;
}
body {
    background: #DFC2F2;
    background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
    background-attachment: fixed;	
    background-size: cover;
    border-radius: 100%;
}
    
#container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 3em auto;
    height: 300px;
    width: 1000px;  
}
.product-details {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}
    
#container .product-details h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5333ed;
    display: inline-block;
    position: relative;
    margin: 0;
}
    
#container .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%; 
    top: 0%;
    transform: translate(25px, -15px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#5333ed;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin: 0;
    animation: chan-sh 6s ease infinite;    
}

#container .product-details > p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: black;
}

.control{
        position: absolute;
        bottom: 20%;
        left: 22.8%;
        
}

.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background:  white;
    border-radius: 5px;
    position: relative;
    top: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border-color: #5333ed;
    color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.btn:hover{transform: translateY(-6px);
    background: #e1fae8;
    text-align: center;
    size: 50%;
}

.btn span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
}

.btn .price, .shopping-cart{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e1fae8;
    border: 0;
    margin: 0;
}
.btn .price {
    transform: translateX(-10%); padding-right: 15px;
    text-align: center;
}

.btn .buy {
    z-index: 3; font-weight: bolder;
}

.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 45%;
    display: inline-block;
}

#container img {width: 100%;height: 100%;}
    
    .info {
        background: rgba(202, 241, 248, 0.9);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transition: all 0.3s ease-out;
        transform: translateX(-100%);
        position: absolute;
        line-height: 1.8;
        text-align: left;
        font-size: 105%;
        cursor: no-drop;
        color: black;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .info h2 {text-align: center}
    .product-image:hover .info{transform: translateX(0);}
    
    .info ul li{transition: 0.3s ease;}
    .info ul li:hover{transform: translateX(50px) scale(1.3);}
    
    .product-image:hover img {transition: all 0.3s ease-out;}
    .product-image:hover img {transform: scale(1.2, 1.2);}


.title{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 500%;
    color:white;
    position: relative;
    bottom: 300px;
    
    background-color: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgb(255, 255, 255) 0px 3px 3px;
}

.cat{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:cadetblue;

    background-color: cadetblue;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

p{
    text-align: center;
}

.card {
    text-align: center;
    box-shadow: 0 10px 20px 0 #e1eaf8;
    transition: 0.3s;
    width: 40%;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e1eaf8;
}

.card:hover {
    box-shadow: 20px 30px 40px 0 #e1eaf8;
}

.containers {
    padding: 10px 10px;
}

.immagine{
    border-radius: 10px;
} 



.button {
    text-align: center;
    position: relative;
    left: 50%;
    height: 80px;
    width: 150px;
    text-align: center;
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #5333ed; 
    border-radius: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
}

.button:hover {
    background-color: #e1fae8; 
    color: white;
}

.numero{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-align: center;
    position: relative;
    top: 20px
}

.plus{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    position: relative;
    top: 72px;
    left: 55px;
    display: inline-block;
    padding: 3px 3px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: 2px solid #5333ed;
    border-radius: 10%;
    box-shadow: 0 3px #999;
    width: 40px;
    height: 40px;
}

.minus{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    position: relative;
    left: 160px;
    display: inline-block;
    padding: 3px 3px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: 2px solid #5333ed;
    border-radius: 10%;
    box-shadow: 0 3px #999;
    width: 40px;
    height: 40px;
}

.informazioni{
    position: relative;
    left: 50px;
}
